<h1>Remarks</h1>
<section [formGroup]="remarksGroup">
  <section formArrayName="remarks">
      <mat-list *ngFor="let item of remarksGroup.controls.remarks.controls; let i = index">
        <span>
          <span>
            <mat-form-field>
              Component
              <mat-select>
                <mat-option *ngFor="let item of issuesList" value="{{item.description}}">{{item.description}}</mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field>
              Issue
              <mat-select>
                <mat-option value="1">1</mat-option>
                <mat-option>2</mat-option>
                <mat-option>3</mat-option>
              </mat-select>
            </mat-form-field>
          </span>

          <button mat-raised-button="warn" (click)="deleteRemark(i)">
            Delete
          </button>
        </span>
      </mat-list>
    </section>
  <button mat-raised-button color="primary" (click)="addRemarks()">
    Add
  </button>
</section>
