.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.stepperArea {
  border: 5px solid red;
}

.navButtonPrev {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 3%;
}

.navButtonNext {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 3%;
}