<mat-horizontal-stepper #mainStepper>

  <mat-step [stepControl]="remarksGroup" #first>
    <form [formGroup]="remarksGroup">
      <ng-template matStepLabel>Remarks</ng-template>
      <app-remarks></app-remarks>
    </form>
  </mat-step>

  <mat-step [stepControl]="breakdownsGroup">
    <form [formGroup]="breakdownsGroup">
      <ng-template matStepLabel>Breakdowns</ng-template>
      <app-breakdowns></app-breakdowns>
    </form>
  </mat-step>

  <mat-step [stepControl]="summaryGroup" #last>
    <form [formGroup]="summaryGroup">
      <ng-template matStepLabel>Summary</ng-template>
      <app-summary></app-summary>
    </form>
  </mat-step>

</mat-horizontal-stepper>

<div>
  <button mat-raised-button color="primary" class="navButtonPrev" *ngIf="mainStepper.selectedIndex > 0" (click)="mainStepper.previous()">Previous</button>
  <button mat-raised-button color="primary" class="navButtonNext" *ngIf="mainStepper.selected != last" (click)="mainStepper.next()">Next</button>
</div>