<div>
  <div>
    <mat-horizontal-stepper #mainStepper>
  
      <mat-step [stepControl]="remarksGroup" #first>
        <div [formGroup]="remarksGroup">
          <ng-template matStepLabel>Remarks</ng-template>
          <app-remarks></app-remarks>
        </div>
      </mat-step>
    
      <mat-step [stepControl]="breakdownsGroup">
          <div [formGroup]="breakdownsGroup">
            <ng-template matStepLabel>Breakdowns</ng-template>
            <app-breakdowns></app-breakdowns>
          </div>
      </mat-step>
    
      <mat-step [stepControl]="summaryGroup" #last>
        <div [formGroup]="summaryGroup">
          <ng-template matStepLabel>Summary</ng-template>
          <app-summary></app-summary>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  
  <div>
    <button mat-raised-button color="primary" class="navButtonPrev" *ngIf="mainStepper.selectedIndex > 0" (click)="mainStepper.previous()">Previous</button>
    <button mat-raised-button color="primary" class="navButtonNext" *ngIf="mainStepper.selected != last" (click)="mainStepper.next()">Next</button>
  </div>
</div>