.center{
  width: 30%;
  margin: 10px auto;
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-div{
  padding: 5%;
  float: right;
}

mat-card-content.mat-card-content{
  padding: 3%;
}

mat-form-field.mat-form-field{
  width: 100%;
}
