<!-- <div id="table" class="table-editable"> -->
<body>
  <div id="content">
    <span class="table-add float-right mb-3 mr-2 button-area">
      <a id="add-button" href="#!" class="text-success">
        <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
      </a>
    </span>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> UserID </th>
        <td mat-cell *matCellDef="let user"> {{user.id}} </td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
      </ng-container>
      <ng-container matColumnDef="middleName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Middle Name </th>
        <td mat-cell *matCellDef="let user"> {{user.middleName}} </td>
      </ng-container>
      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Enabled </th>
        <td mat-cell *matCellDef="let user"> {{user.isActive}} </td>
      </ng-container>
      <ng-container matColumnDef="settings">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Settings </th>
        <td mat-cell *matCellDef="let user">
          <i class="fa fa-pencil" aria-hidden="true"></i>

        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; SBITC Checklist 2020</div> <!--changes-->
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>
</body>