<mat-horizontal-stepper (selectionChanged)="testFunction()">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Remarks</ng-template>
      <app-remarks></app-remarks>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Breakdown</ng-template>
      <app-breakdowns></app-breakdowns>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Summary</ng-template>
    <app-summary></app-summary>
  </mat-step>
</mat-horizontal-stepper>
