<h1>Breakdowns</h1>
<mat-accordion [formGroup]="breakdownList">
  <div *ngFor="let formGroup of breakdownList.controls; let i = index">
    <mat-expansion-panel [formGroup]="formGroup" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Breakdown {{i+1}}</mat-panel-title>
        <mat-panel-description>{{timeStart}}</mat-panel-description>
        <button mat-raised-button color="Primary" (click)=removeBreakdown(i)">Delete</button>
      </mat-expansion-panel-header>

      <textarea mat-input formControlName="timeStart" class="Description"></textarea>
      <textarea mat-input formControlName="timeEnd" class="Description"></textarea>
      <textarea mat-input formControlName="description" class="Description"></textarea>
    </mat-expansion-panel>      
  </div>
</mat-accordion>
<section>
<button mat-raised-button color="Primary" (click)="addBreakdown()" class="add">
  Add
</button>
</section>  
  