<!-- <router-outlet></router-outlet> -->

<table>
    <tr>
        <td>
            <mat-form-field>
                Component
                <mat-select>
                <mat-option>
                    1
                </mat-option>
                </mat-select>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field>
                Issue
                <mat-select>
                <mat-option>
                    1
                </mat-option>
                </mat-select>
            </mat-form-field>
        </td>
                
        <td>
            <button mat-raised-button color="warn">
                Delete
            </button>
        </td>
    </tr>
</table>