.add{
    margin-top: 10px;
}

.title{
    width: 70%;
    font-size: x-large;
}


.description{
    resize: none;
    max-width: 100%;
    max-height: 100px;
    width: 100%;
    height: auto;
    font-size: x-large;
}

.time{
    width: 70%;
    font-size:  x-large;
}