<h1>Remarks</h1>
<div [formGroup]="formGroup">
  <div formArrayName="remarksList">
      <mat-list *ngFor="let item of remarksForms.controls; let i = index" >
        <div formGroupName={{i}}>
          <span> 
            <mat-form-field>
              Component
              <mat-select formControlName="component">
                <mat-option *ngFor="let component of compList" [value]="component.id">
                  {{component.id}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field >
                Issue
              <mat-select formControlName="issue">
                <mat-option *ngFor="let issue of issuesList" [value]="issue.id">
                  {{issue.id}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </span>

          <span>
              <button mat-raised-button color="warn" (click)="deleteRemark(i)">
                Delete
              </button>
          </span>
        </div>
      </mat-list>
  </div>
</div>
<button mat-raised-button color="primary" (click)="addRemarks()">
  Add
</button>
