<h1>Remarks</h1>
<div [formGroup]="formGroup">
  <div formArrayName="remarksList">
      <mat-list *ngFor="let item of remarksForms.controls; let i = index" >
      <table formGroupName={{i}}>
          <tr>
              <td style="width: 30%; margin-right: 10%;" >
                  <mat-form-field >
                      Component
                      <mat-select formControlName="component">
                        <mat-option *ngFor="let item of compList;" value="{{item.id}}">
                            {{item.id}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
              </td>
              <td style="width: 30%;">
                  <mat-form-field>
                      Issue
                      <mat-select formControlName="issue">
                        <mat-option *ngFor="let item of issuesList;" value="{{item.id}}">
                          {{item.id}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
              </td>
                      
              <td style="width: auto; text-align: center;">
                  <button mat-raised-button color="warn" (click)="deleteRemark(i)">
                      Delete
                  </button>
              </td>
          </tr>
      </table>
      </mat-list>
  </div>
</div>
<button mat-raised-button color="primary" (click)="addRemarks()">
  Add
</button>
